.questionContainer {
    padding: 5rem 0.2rem;
}

a {
    text-decoration: none !important
}

table,
th,
td {
    border: 1px solid black;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav .active {
    color: #fff;
    opacity:1 !important;
}